<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <filter>
        <filter-name>FilterFirst</filter-name>
        <filter-class>com.example.servlet2fil.FilterFirst</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>FilterFirst</filter-name>
        <servlet-name>helloServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>FilterSecond</filter-name>
        <filter-class>com.example.servlet2fil.FilterSecond</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>FilterSecond</filter-name>
        <servlet-name>helloServlet</servlet-name>
    </filter-mapping>
</web-app>
